<aside>
    <div class="logo">
        <img src="{{url('public/images/logo.png')}}" alt="Tamghrabit Logo">
    </div>

    <nav>
        <p class="menu-title">MENU PRINCIPAL</p>
        <div class="menu-group">
            <a href="" class="menu-item active">
                <i class="fa-solid fa-house"></i> Dashboard
            </a>
            <a href="" class="menu-item">
                <i class="fa-solid fa-magnifying-glass"></i> Explorer
            </a>
            <a href="" class="menu-item">
                <i class="fa-solid fa-plus-circle"></i> Créer une Campagne
            </a>
        </div>
    </nav>

    <nav>
        <p class="menu-title">MON ACTIVITÉ</p>
        <div class="menu-group">
            <a href="" class="menu-item">
                <i class="fa-solid fa-bullhorn"></i> Mes Campagnes
            </a>
            <a href="" class="menu-item">
                <i class="fa-solid fa-hand-holding-dollar"></i> Mes Dons
            </a>
            <a href="" class="menu-item">
                <i class="fa-solid fa-calculator"></i> Calculateur Zakat
            </a>
        </div>
    </nav>

    <nav>
        <p class="menu-title">COMPTE & SUPPORT</p>
        <div class="menu-group">
            <a href="" class="menu-item">
                <i class="fa-solid fa-address-book"></i> Mon Profil
            </a>
            <a href="" class="menu-item">
                <i class="fa-solid fa-gear"></i> Paramètres
            </a>
            <a href="" class="menu-item">
                <i class="fa-solid fa-circle-question"></i> Aide / Support
            </a>
            <a href="" class="menu-item logout">
                <i class="fa-solid fa-right-from-bracket"></i> Déconnexion
            </a>
        </div>
    </nav>
</aside>